.Nav{

/* On small screens */
@media (min-width: 576px) {
  grid-template-columns: repeat(1, 1fr);
}

/* On medium screens */
@media (min-width: 810px) {
  grid-template-columns: repeat(2, 15% 85%);
}

/* On large screens */
@media (min-width: 992px) {
  grid-template-columns: repeat(2, 15% 85%);
}

/* On extra-large screens */
@media (min-width: 1200px) {
  grid-template-columns: repeat(2, 15% 85%);
}
}